body {
    background: #3454d1;
    color: #efefef;
    width: 100%;
    margin: 0 auto;
}

button {
    background: rgba(209,52,91);
    color: #efefef;
    font-size: 20px;
    line-height: 1rem;
    padding: 8px;
    box-shadow: 0 0 25px #3454d1,
    2px 2px 10px #070707,
    2px 2px 10px #34d1bf;
    border: none;
    border-radius: 5px;
}

button:hover {
    background: rgba(209,52,91);
    color: #efefef;
    font-size: 30px;
    cursor: pointer;
}

#intro {
    width: 95%;
    margin: 0 auto;
    text-align: center;
    text-shadow: 0 0 8px rgba(7,7,7,0.4);
}

section.black {
    background: #070707;
    padding: 0.5rem 0rem 1rem 0rem;
}

#projects {
    width: 90%;
    margin: 1rem auto;
}

.snapshot {
    width: 300px;
    border: 5px inset rgba(7,7,7,0.5);
    border-radius: 5px;
}

.project:hover {
    box-shadow: 1px 1px 10px #efefef,
    1px 1px 10px #111,
    1px 1px 10px yellow;
   
}

.project {
    padding: 5px 10px 15px 10px;
    background: #34d1bf;
    box-shadow: 2px 2px 10px #070707;
    margin: 25px 10px 0px 10px;
    border-radius: 5px;
}

#work, #ed {
    width: 98%;
    margin: 0 auto;
}

.title {

}

.description {

}

.responsibilities {

}

.techUsed {

}

footer {
    background: #070707;
    padding: 15px 20px 20px 10px;
    margin-top: 15px;
    width: 100%;
    position: relative;
    bottom: -10px;
}